[Desktop Entry]
Type=Application
Version=1.0
Name=Files
GenericName=File Manager
Comment=Browse the filesystem
Exec=thunar %F
Icon=system-file-manager
Terminal=false
StartupNotify=true
Categories=System;FileTools;FileManager;
