[Desktop Entry]
Type=Application
Version=1.0
Name=Gobuster
GenericName=Directory, DNS and vhost brute-forcer
Comment=Directory, DNS and vhost brute-forcer
Exec=xfce4-terminal --title="Gobuster" --command="aegis-run --group blackarch-webapp --desc 'Directory, DNS and vhost brute-forcer' gobuster"
Icon=aegis-cat-web
Terminal=false
StartupNotify=false
Categories=X-Aegis-Web;
Keywords=security;aegis;gobuster;
