[Desktop Entry]
Type=Application
Version=1.0
Name=CeWL
GenericName=Build a custom wordlist by spidering a site
Comment=Build a custom wordlist by spidering a site
Exec=xfce4-terminal --title="CeWL" --command="aegis-run --group blackarch-cracker --desc 'Build a custom wordlist by spidering a site' cewl"
Icon=aegis-cat-passwords
Terminal=false
StartupNotify=false
Categories=X-Aegis-Passwords;
Keywords=security;aegis;cewl;
