[Desktop Entry]
Type=Application
Version=1.0
Name=socat
GenericName=Multipurpose socket relay and tunnel
Comment=Multipurpose socket relay and tunnel
Exec=xfce4-terminal --title="socat" --command="aegis-run --group blackarch-exploitation --desc 'Multipurpose socket relay and tunnel' socat"
Icon=aegis-cat-exploit
Terminal=false
StartupNotify=false
Categories=X-Aegis-Exploit;
Keywords=security;aegis;socat;
