[Desktop Entry]
Type=Application
Version=1.0
Name=msfvenom
GenericName=Payload generator and encoder
Comment=Payload generator and encoder
Exec=xfce4-terminal --title="msfvenom" --command="aegis-run --pkg metasploit --group blackarch-exploitation --desc 'Payload generator and encoder' msfvenom"
Icon=aegis-cat-exploit
Terminal=false
StartupNotify=false
Categories=X-Aegis-Exploit;
Keywords=security;aegis;msfvenom;
