[Desktop Entry]
Type=Application
Version=1.0
Name=DNSRecon
GenericName=DNS enumeration and zone-transfer checks
Comment=DNS enumeration and zone-transfer checks
Exec=xfce4-terminal --title="DNSRecon" --command="aegis-run --group blackarch-recon --desc 'DNS enumeration and zone-transfer checks' dnsrecon"
Icon=aegis-cat-recon
Terminal=false
StartupNotify=false
Categories=X-Aegis-Recon;
Keywords=security;aegis;dnsrecon;
