[Desktop Entry]
Type=Application
Version=1.0
Name=Lynis
GenericName=Local system hardening audit
Comment=Local system hardening audit
Exec=xfce4-terminal --title="Lynis" --command="aegis-run --group blackarch-scanner --desc 'Local system hardening audit' lynis"
Icon=aegis-cat-vuln
Terminal=false
StartupNotify=false
Categories=X-Aegis-Vuln;
Keywords=security;aegis;lynis;
