[Desktop Entry]
Type=Application
Version=1.0
Name=Netcat
GenericName=TCP/UDP swiss army knife
Comment=TCP/UDP swiss army knife
Exec=xfce4-terminal --title="Netcat" --command="aegis-run --pkg openbsd-netcat --group blackarch-exploitation --desc 'TCP/UDP swiss army knife' nc"
Icon=aegis-cat-exploit
Terminal=false
StartupNotify=false
Categories=X-Aegis-Exploit;
Keywords=security;aegis;nc;
