[Desktop Entry]
Type=Application
Version=1.0
Name=ffuf
GenericName=Fast web fuzzer
Comment=Fast web fuzzer
Exec=xfce4-terminal --title="ffuf" --command="aegis-run --group blackarch-webapp --desc 'Fast web fuzzer' ffuf"
Icon=aegis-cat-web
Terminal=false
StartupNotify=false
Categories=X-Aegis-Web;
Keywords=security;aegis;ffuf;
