[Desktop Entry]
Type=Application
Version=1.0
Name=SSLScan
GenericName=TLS/SSL cipher, protocol and certificate scanner
Comment=TLS/SSL cipher, protocol and certificate scanner
Exec=xfce4-terminal --title="SSLScan" --command="aegis-run --group blackarch-scanner --desc 'TLS/SSL cipher, protocol and certificate scanner' sslscan"
Icon=aegis-cat-vuln
Terminal=false
StartupNotify=false
Categories=X-Aegis-Vuln;
Keywords=security;aegis;sslscan;
