[Desktop Entry]
Type=Application
Version=1.0
Name=hcxdumptool
GenericName=Capture WPA PMKIDs and handshakes
Comment=Capture WPA PMKIDs and handshakes
Exec=xfce4-terminal --title="hcxdumptool" --command="aegis-run --group blackarch-wireless --desc 'Capture WPA PMKIDs and handshakes' hcxdumptool"
Icon=aegis-cat-wireless
Terminal=false
StartupNotify=false
Categories=X-Aegis-Wireless;
Keywords=security;aegis;hcxdumptool;
