[Desktop Entry]
Type=Application
Version=1.0
Name=Network Manager TUI
GenericName=Text-mode network configuration
Comment=Text-mode network configuration
Exec=xfce4-terminal --title="Network Manager TUI" --command="aegis-run --pkg networkmanager --group blackarch-defensive --desc 'Text-mode network configuration' nmtui"
Icon=aegis-cat-maintenance
Terminal=false
StartupNotify=false
Categories=X-Aegis-Maintenance;
Keywords=security;aegis;nmtui;
